form {
  margin-top: 2rem;
}

form input[name='city'] {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid whitesmoke;
}

form input[name='city']:focus {
  border: 2px solid whitesmoke;
  background-color: transparent;
  box-shadow: none;
}

.col-12 {
  flex: 0 0 60%;
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}